<div class="menu-content">

    <!-- todo: make a collapsed version of the menu for mobile view -->

    <div class="profile-pic">
        <img src="/public/images/verty.png">
    </div>

    <div class="menu-item" ng-class="{'active': menu.getCurrentState() === 'main'}">
        <a ui-sref="main"><i class="fa fa-home"></i>Home</a>
    </div>
    <div class="menu-item" ng-class="{'active': menu.getCurrentState() === 'blog'}">
        <a ui-sref="blog"><i class="fa fa-book"></i>Blog</a>
    </div>
    <div class="menu-item" ng-class="{'active': menu.getCurrentState() === 'contact'}">
        <a ui-sref="contact"><i class="fa fa-phone"></i>Contact</a>
    </div>
</div>