.header {
    grid-area: header;
    background-color: grey;
}

.menu {
    grid-area: menu;
    background-color: lightgrey;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
    background-color: purple;
}

.grid {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header header" "menu content" "footer footer";
    grid-template-columns: 150px 1fr;
    grid-template-rows: 100px 1fr 30px;
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-areas: "header" "menu" "content" "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 50px 1fr 30px;
    }
}
