html {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: #00165d;
    text-decoration: none;

    &:hover {
        color: #1741cb;
        text-decoration: underline;
    }
}

.header {
    grid-area: header;
    display: grid;
    align-items: center;
    background-color: #555E52;
    color: #e4e4e4;
    font-size: 1.2rem;
    padding: 0 15px;
}

.menu {
    grid-area: menu;
    background-color: #86919d;
}

.content {
    grid-area: content;
    background-color: #e7dcd3;
    color: #391a25;
    padding: 0 15px;
    overflow-y: auto;
}

.footer {
    grid-area: footer;
    display: grid;
    align-items: center;
    justify-content: end;
    background-color: #3C4859;
    color: #e4e4e4;
    font-size: 0.9rem;
    padding: 0 15px;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "header header"
        "menu   content"
        "footer footer";
    grid-template-columns: 150px 1fr;
    grid-template-rows: 50px 1fr 30px;
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-areas: 
            "header" 
            "menu"
            "content"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 50px 275px 1fr 30px;
    }
}
