<div class="main">
    <h1>Main</h1>
    <p>Hi, I'm Verty! I've worked at Vertafore for as long as I can remember. We sure have been through a lot together.</p>

    <p>Remember that time we went to the Olympics together?</p>
    <p>
        <img src="/public/images/olympic_verty.png" style="width: 250px;">
    </p>

    <p>
        While you're here, feel free to check out the <a href="https://docs.google.com/presentation/d/1lWP-ErBNwXinTsqsIn3O3P58MKjWbLe4JAMQmCAjtpY/edit?usp=sharing" target="_blank">Slides</a> I made for you!
    </p>

    {{main.test}}
</div>