<div class="contact">
    <h1>Contact</h1>

    <div class="contact-content">
        <div class="contact-item phone">
            <div class="label">Mobile</div>
            <div class="value"><a href="tel:1-555-555-5555">555-555-5555</a></div>
        </div>
    
        <div class="contact-item email">
            <div class="label">Email</div>
            <div class="value"><a href="mailto:verty@vertafore.com">verty@vertafore.com</a></div>
        </div>
        
        <div class="contact-item address">
            <div class="label">Address</div>
            <div class="value">
                <div>1500 Abbot Rd</div>
                <div>Suite 100</div>
                <div>East Lansing, MI 48823</div>
            </div>
        </div>

        <div class="contact-item">
            <div class="label">Fax</div>
            <div class="value">What year is it?</div>
        </div>

    </div>

</div>